[submodule "ATHLETE/protos_olympy"]
	path = ATHLETE/protos_olympy
	url = git@github.com:abdulazizax/protos_olympy.git
[submodule "ATHLETE/olympy-protos"]
	path = ATHLETE/olympy-protos
	url = git@github.com:Javohir-A/olympy-protos.git
[submodule "AUTH/olympy-protos"]
	path = AUTH/olympy-protos
	url = git@github.com:Javohir-A/olympy-protos.git
[submodule "EVENT/olympy-protos"]
	path = EVENT/olympy-protos
	url = git@github.com:Javohir-A/olympy-protos.git
[submodule "GATEWAY/olympy-protos"]
	path = GATEWAY/olympy-protos
	url = git@github.com:Javohir-A/olympy-protos.git
